@layout('layouts/main')
@section('body')

<h1>Password recovery request || Procrew</h1>
<p>
  Hello {{ user.name }}, it seems someone requested a password recovery
  for your account registered with the email {{ user.email }}.
</p>

<p>
  If it was you, just click this
  <a href="{{url}}/users/forgot-password/{{token}}/{{user.email}}">link</a>
</p>

<p>
  If it wasn't you then we recommend you to change your password. Someone may
  have stolen it. 🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️‍🕵️
</p>
@end
